body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
  width: 50%;
  padding: 4% 8%;
  background-color: rgb(20 20 20 / 50%);
  border-radius: 10px;
  margin-top: 2%;
}

header > img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header > h1 {
  text-align: center;
  color: #00FF00;
  margin-bottom: 5px;
  margin-top: 0;
}

nav > ul {
  list-style-type: none;
  background-color: #00FF00;
  height: 40px;
  margin: 0;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

nav li {
  display: inline;
}

nav li a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  background: white;
  display: inline-block;
  padding: 4px;
}

main > h3, h4 {
  display: inline-block;
  margin-bottom: 0;
}

main > h3 {
  font-size: 23px;
  margin-top: 13px;
  color: white;
}

main > h3, div > h4 {
  display: contents;
  font-family: 'Roboto Flex', sans-serif;
}
div span {
  color: white;
}

main h4, h5 {
  color: white;
  font-size: 12px;
}

main h5 {
  margin-bottom: 0;
  margin-top: 0;
}

div .progressbar {
  border-radius: 5px;
  padding: 10px;
}

div .barone {
  width: 40%;
  background-color: #F4A460;
}

div .bartwo {
  width: 70%;
  background-color: #00CD00;
}

div .barthree {
  width: 20%;
  background-color: #CD0000;
  margin-bottom: 20px;
}
